* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #000;
  color: #fff;
  width: 480px;
  margin-right: auto;
  margin-left : auto;
}

main {
  position: relative;
  width: 90%;
  margin: 0 5%;
}

h2 {
  margin-bottom: 16px;
}

.banner {
  width: 90%;
  cursor: pointer;
  margin: 40px 5% 40px 5%;
}

.btn {
  text-decoration:none;
  margin: 0 0 32px 0;
  border: 1px #fff solid;
  border-radius: 50px;
  cursor: pointer;
  z-index: 100;
  color:#FFF;
  transition: background .3s, color .3s;
}

.btn:hover {
  background:#9E9E9E;
  color:#000;
}

.btn-text {
  font-size:24px;
  padding: 3px;
  font-weight: 100;
  cursor: pointer;
  text-align: center;
}

footer{
  position: fixed;
  bottom: 0;
  height: 20px;
  text-align: center;
  width: 480px;
  background-color: #000;
  z-index: 100;
}

input{
  width: calc(100% - 32px);
  border-radius: 50px;
  background-color: #000;
  border: 1px #fff solid;
  font-size: 24px;
  color: #fff;
  padding: 3px 16px;
  font-weight: 100;
  margin: 4px 0 16px 0;
  outline: none;
}

.form-tag{
  color: #9E9E9E;
}

.inner{
  width: 84%;
  margin: 0 8%;
}

.main{
  transition: opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
}

input:focus {
  border:solid 1px #FFF;
}

.bottom-btn {
  margin-top: 64px;
}

.loader{
  margin: 80px calc(50% - 50px);
}

svg path,
svg rect{
  fill: #FFF;
}

#error{
  opacity: 0;
  visibility: hidden;
  margin: 0 0 24px 0;
  text-align: center;
  transition: opacity 0.3s, visibility 0.3s;
}
#uploadBox{
  width: 100%;
  background: black;
  border: 1px #fff solid;
  text-align: center;
  font-size: 24px;
  padding-top: 128px;
  padding-bottom: 128px;
  cursor: pointer;
}

.uphover{
  background-color: #333 !important
}

.item {
  margin-bottom:40px;
  flex-basis: 50%;
}

.item img {
  width: 90%;
  margin: 0 5%;
}

.item a {
  margin: 0 5%;
  color: #9E9E9E;
  cursor: pointer;
}

.item a:hover{
  color: #FFF;
}

.error {
  text-align: center;
}

#image-container{
  margin-top: 64px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#theme-list{
  margin-top:64px;
}

.theme-item {
  height: 44px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.theme-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 28px;
  width: calc(100% - 60px);
  margin: 8px;
  font-size: 24px;
  float: left;
}

.theme-item img{
  height: 44px;
  cursor: pointer;
}

.theme-item img:hover{
  background-color: #333;
}
