* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #000;
  color: #fff;
  width: 480px;
  margin-right: auto;
  margin-left : auto;
}

main {
  position: relative;
  width: 90%;
  margin: 0 5%;
}

h2 {
  margin-bottom: 16px;
}

#banner {
  width: 90%;
  cursor: pointer;
  margin: 40px 5% 40px 5%;
}

#menu{
  transition: opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  margin: 32px 15%;
}

.btn {
  text-decoration:none;
  margin: 0 0 32px 0;
  border: 1px #fff solid;
  border-radius: 50px;
  cursor: pointer;
  z-index: 100;
  color:#FFF;
  transition: background .3s, color .3s;
}

.btn:hover {
  background:#9E9E9E;
  color:#000;
}

.btn-text {
  font-size:24px;
  padding: 3px;
  font-weight: 100;
  cursor: pointer;
  text-align: center;
}

footer{
  position: fixed;
  bottom: 0;
  height: 20px;
  text-align: center;
  width: 480px;
}

input{
  width: calc(100% - 32px);
  border-radius: 50px;
  background-color: #000;
  border: 1px #fff solid;
  font-size: 24px;
  color: #fff;
  padding: 3px 16px;
  font-weight: 100;
  margin: 4px 0 16px 0;
  outline: none;
}

.form-tag{
  color: #9E9E9E;
}
.main{
  transition: opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  margin: 0 15%;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
}

input:focus {
  border:solid 1px #FFF;
}

.bottom-btn {
  margin-top: 64px;
}

.loader{
  margin: 80px calc(50% - 50px);
}

svg path,
svg rect{
  fill: #FFF;
}

#error{
  opacity: 0;
  visibility: hidden;
  margin: 0 0 24px 0;
  text-align: center;
  transition: opacity 0.3s, visibility 0.3s;
}

